/* sidebar related buttons */
.sidebar-toggle{
    z-index: 3;
    position: absolute;
    top: 4rem;
    right: 3rem;
    color: var(--clr-icon-sidebartoggle);
}
/* unseen transactions notification */
.sidebar-toggle::before{
    z-index: 3;
    cursor: default;
    position: absolute;
    content: attr(data-view);
    right: -10px;
    top: -10px;

    color: var(--clr-white--icon);
    font-size: 12px;
    font-family: 'Lato', serif;

    padding: 2px 5px;
    border-radius: 100%;
    background-color: var(--bg-sidebartoggle--before);
}

@media screen and (max-width: 600px) {
    .sidebar-toggle{
        top: 4rem;
        right: 2.3rem;
    }
}
@media screen and (min-width: 800px) {
    .sidebar-toggle{
        /* top: 4.5rem;  */
        right: 7rem;
    }
}
/* Remove all transactions button */
.remove-data{
    z-index: 3;
    position: sticky;
    align-self: flex-end;   
}
.remove-data-initial{
    z-index: 3;
    position: absolute;
    bottom: 2.5rem;
    right: 1.2rem;
}
.remove-data,
.remove-data-initial{
    color: var(--clr-white--icon);
}
/* Close sidebar button */
#closeBtn{
    color: var(--clr-white--icon);
}
#closeBtn:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* add transaction button */
.btn-submit{
    display: inline-block;
    cursor: pointer;
    font-size: 0.95rem;
    padding: 0.75em 0em;
    max-width: 30rem;
    min-width: 10rem;
}
.btn-outline{
    border: none;

    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    background: var(--bg-btn-submit);

    border-radius: 0.3rem;
    border-bottom: solid 4px var(--borderbt-btn-submit);
}
.btn-outline:hover{
    background: var(--bg-btn-submit--hover);
    transition: all 0.3s ease-in-out;
}
.btn-outline:active {
    transform: translateY(4px);
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}