@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3{
    letter-spacing: 0.050rem;
}

html, body{
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

main{
    min-height: 100vh;
    background-color: var(--bg-main);
}
.grid{
    display: grid;
    grid-template-columns: 0 1fr;
    grid-template-areas: "aside main";
}
.grid-open{
    grid-template-columns: 1fr 3fr;
}
@media screen and (max-width: 600px){
    .grid-open{
        grid-template-columns: 3fr 0;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px){
    .grid-open{
        grid-template-columns: 1fr 2fr;
    }
}

/* Sidebar */
.sidebar{
    z-index: 4;
    
    gap: 3rem;
    height: 100vh;
    padding: 1.2em;
    
    transform: translate(-100%);
    background-color: var(--bg-sidebar);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    
    overflow-y: scroll;
    grid-area: "aside";
}

.show-sidebar{
    transform: translate(0);
    transition: all 0.5s ease-in-out;
}
.sidebar-header{
    position: relative;
    color: var(--clr-sidebar-header);
    font-weight: normal;
}
::-webkit-scrollbar{
    width: 0px;
}

/* Hero content */
.main-content{
    justify-content: center;
    grid-area: "main";
}
.container-hero{
    gap: 2em;
    width: 100%;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.display-balance, 
.form-control{
    z-index: 1;
    gap: 2.5em;
    padding: 1em;
    width: 100%;
    max-width: 20rem;
}
.display-balance h2{
    color: var(--clr-balance);
}
.form-control legend{
    font-size: 1.35rem;
    font-weight: bold;
}
.form-field{
    border: none;
    font-size: 1.15rem;
}
.form-field label{
    display: block;
}
.form-field label:nth-of-type(2){
    margin-top: 1.30rem;
}


.card{
    width: 100%;
    gap: 1em;
    padding: 1em;

    border-radius: 5px;
    background-color: var(--bg-card-balance);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
}
.recipe, .expense{
    width: 100%;
    text-align: center;
}
.recipe{
    color: var(--clr-recipe);
    border-right: solid 2px rgba(0, 0, 0, 0.3);
}
.expense{
    color: var(--clr-expense);
}





