@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-sidebar: #5B2A86;

    --clr-recipe: #008000;
    --clr-expense: #A4161A;
    --clr-balance: #6c397c;

    --clr-input-alert: #A4161A;

    --bg-btn: #6c397c;
    --bg-btn--hover: #623370;
    --borderbt-btn-clr: #562d63;

    --clr-remove-data--icon: #fff; /*rgb(204, 203, 203)*/
}

h1,
h2,
h3{
    letter-spacing: 0.105rem;
}

html, body{
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

/* Main */
main{
    min-height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: 0 3fr;
    grid-template-areas: "aside main";
}
.grid-test{
    grid-template-columns: 1fr 3fr;
}
@media screen and (max-width: 600px){
    .grid-test{
        grid-template-columns: 3fr 0;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px){
    .grid-test{
        grid-template-columns: 1fr 2fr;
    }
}

.total-balance{
    color: var(--clr-balance);
}

/* Aside */
.sidebar{
    z-index: 2;
    
    gap: 3rem;
    height: 100vh;
    padding: 1.2em 1.2em;
    
    transform: translate(-100%);
    background-color: var(--clr-sidebar);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

    overflow-y: scroll;
    grid-area: "aside";
}

.show-sidebar{
    transform: translate(0);
    transition: all 0.5s ease-in-out;
}
.sidebar-title{
    color: #FFf;
    font-weight: normal;
    font-family: 'Roboto Slab', serif;
}

::-webkit-scrollbar{
    width: 0px;
}

/* Hero content */
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: "main";

    overflow: hidden;
}
.hero{
    gap: 2em;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
}
.show-balance, .form-control{
    width: 100%;
    max-width: 20rem;
    padding: 1em;
    gap: 2.5em;
}

.card{
    width: 100%;
    gap: 1em;
    padding: 1em;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.recipe, .expense{
    width: 100%;
    text-align: center;
}
.recipe{
    color: var(--clr-recipe);
    border-right: solid 2px rgba(0, 0, 0, 0.3);
}
.expense{
    color: var(--clr-expense);
}


/* fieldset */
.transaction-add{
    border: none;
    font-size: 1.15rem;
}
.input-alert{
    display: none;
    font-weight: bold;
    font-size: 0.70rem;
    color: var(--clr-input-alert);
}
.show-inputAlert{
    display: inline;
}

/* toggle btns */
.sidebar-toggle{
    z-index: 1;
    position: absolute;
    top: 4.5rem;
    right: 3rem;
}
.sidebar-toggle i{
    color: var(--clr-sidebar);
}
.remove-data{
    z-index: 3;
    position: sticky;
    align-self: flex-end;   
}
.remove-data-initial{
    z-index: 3;
    position: absolute;
    bottom: 2.5rem;
    right: 1.2rem;
}
.remove-data i,
.remove-data-initial i{
    color: var(--clr-remove-data--icon);
}

#closeBtn{
    color: #FFf;
}
#closeBtn:hover{
    transition: all 0.7s ease;
    transform: rotateX(30deg);
    transform: rotateY(160deg);
}


/* submit btn */
.btn-submit{
    display: inline-block;
    cursor: pointer;
    font-size: 0.95rem;
    padding: 0.75em 0em;
    max-width: 30rem;
    min-width: 10rem;
}
.btn-outline{
    border: none;

    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    background: var(--bg-btn);

    border-radius: 0.3rem;
    border-bottom: solid 4px var(--borderbt-btn-clr);
}

.btn-outline:hover{
    background: var(--bg-btn--hover);
    transition: all 0.3s ease-in-out;
}

.btn-outline:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

