:root{
    --clr-remove--icon: #A4161A;
    --clr-amount-positive: #019c01;
    --clr-amount-negative: hsl(0, 70%, 50%);
    
    --clr-notification: #019c01;
    --bg-notification: #F8F9FA;
    --border-notification: #5fbd02;
}

.transaction-list{
    list-style: none;
    gap: 1rem;
}
.transaction{
    position: relative;
    top: 0;
    padding: 0.75rem 0.5rem;
    max-width: 100%;
    border-radius: 5px;

    background-color: #F8F9FA;
    transition: all ease-in 0.2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.transaction:hover{
    top:-4px;
    box-shadow:0 4px 3px rgba(0, 0, 0, 0.24);
}
.transaction-title, 
.positive, 
.negative {
    width: 40%;
    font-weight: 700;
    text-align: center;
}

.remove-transaction{
    width: 10%;
    color: var(--clr-remove--icon);
}
.positive{
    color: var(--clr-amount-positive);
}
.negative{
    color: var(--clr-amount-negative);
}

/* Transaction Notification */
.notification{
    z-index: 5;
    gap: 7px;
    
    height: 60px;
    width: 200px;
    padding: 1rem;

    align-self: flex-end;
    position: absolute;
    top: 45%;
    right: 0px;

    transform: scaleX(0);
    transform-origin: right;
    
    color: var(--clr-notification);
    background-color: var(--bg-notification);
    
    border-radius: 5px;
    border: 1px solid var(--border-notification);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.show-notification{
    right: 10px;
    transform: scaleX(1);
    transform-origin: right;
    transition: all 0.3s;
}

@media screen and (min-width: 800px) {
    .notification{
        top: 60%;
    }
    .show-notification{
        right: 120px;
    }
}