:root{
    --clr-remove--icon: #A4161A;
    --clr-amount-positive: #019c01;
    --clr-amount-negative: hsl(0, 70%, 50%);
}

.transaction-list{
    list-style: none;
    gap: 1rem;
}
.transaction{
    padding: 0.75rem;
    max-width: 100%;
    border-radius: 5px;
    background-color: #FFf;
}
.transaction-title, 
.positive, 
.negative {
    width: 40%;
    font-weight: 700;
    text-align: center;
}

.remove-transaction{
    width: 10%;
    color: var(--clr-remove--icon);
}
.positive{
    color: var(--clr-amount-positive);
}
.negative{
    color: var(--clr-amount-negative);
}
