/* Transaction */
.transaction-list{
    list-style: none;
    gap: 1rem;
}
.transaction{
    position: relative;
    top: 0;

    max-width: 100%;
    padding: 0.75rem 0.5rem;
    
    border-radius: 5px;

    transition: all ease-in 0.2s;
    background-color: var(--bg-transaction);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}
.transaction:hover{
    top:-4px;
    box-shadow:0 4px 3px rgba(0, 0, 0, 0.24);
}
/* .transaction::before{
    position: absolute;
    content: '';
    right: 3rem;

    width: 2px;
    height: 100%;
    background-color: #666;
} */

.transaction-title, 
.positive, 
.negative {
    width: 80%;
    font-weight: 700;
    text-align: center;
}
.positive{
    color: var(--clr-amount-positive);
}
.negative{
    color: var(--clr-amount-negative);
}
.remove-transaction{
    width: 20%;
    text-align: center;
    font-size: 1rem;
    color: var(--clr-remove--icon);
}

/* Transaction success Notification */
.notification{
    z-index: 5;
    gap: 7px;
    
    height: 60px;
    width: 200px;
    padding: 1rem;

    position: absolute;
    top: 45%;
    right: 0px;
    align-self: flex-end;

    transform: scaleX(0);
    transform-origin: right;   
}
.show-notification{
    right: 10px;
    transform: scaleX(1);
    transform-origin: right;
    transition: all 0.3s;
}
.notification-style{
    color: var(--clr-notification);
    background-color: var(--bg-notification);
    
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
}
@media screen and (min-width: 800px) {
    .notification{
        top: 60%;
    }
    .show-notification{
        right: 120px;
    }
}