.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

/* btn general class */
.btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}
.btn-hover:hover{
    transition: all 0.3s ease;
    transform: scale(1.25);
}

/* inputs */
.transaction-input{
    width: 100%;
    margin-top: 0.75rem;
    
    font-size: 0.85rem;

    border: none;
    border-bottom: 2px solid rgb(108, 57, 124, 0.4);
}
.transaction-input:focus{
    outline: none;
    transition: all 0.5s ease-out;
    border-bottom: 2px solid #6c397c;
}

/* input validation alert */
.input-alert{
    display: none;
    font-weight: bold;
    font-size: 0.70rem;
    color: var(--clr-input-alert);
}
.show-inputAlert{
    display: inline-block;
}