@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-sidebar: #5B2A86;
    --clr-btn: #6c397c;
    --clr-recipe: #008000;
    --clr-expense: #A4161A;
}
h1,h2,h3{
    letter-spacing: 0.105rem;
}
body{
    font-family: 'Lato', sans-serif;
}


/* Main */
main{
    min-height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: 0 3fr;
    grid-template-areas: "aside main";
}
.grid-test{
    grid-template-columns: 1fr 3fr;
}
@media screen and (max-width: 600px){
    .grid-test{
        grid-template-columns: 3fr 0;
    }
    .grid{
        overflow: hidden;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px){
    .grid-test{
        grid-template-columns: 1fr 2fr;
    }
}


/* Aside */
.sidebar{
    z-index: 2;
    color: #FFf;
    overflow: hidden;
    gap: 3rem;
    padding: 1em;
    grid-area: "aside";

    transform: translate(-100%);
    background-color: var(--clr-sidebar);
}
.show-sidebar{
    transform: translate(0);
    transition: all 0.5s ease-in-out;
}
.transaction{
    padding: 1em;
    border-radius: 5px;
    background-color: #FFf;
    max-width: 100%;
}

.transaction > p {
    font-weight: 700;
    color: black;
    width: 40%;
    text-align: center;
}
.transaction-list{
    list-style: none;
    gap: 1rem;
}


/* Hero content */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: "main";
}
.hero{
    gap: 2em;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}
.show-balance, .form-control{
    max-width: 20rem;
    width: 100%;
    padding: 1em;
    gap: 2.5em;
}

.card{
    padding: 1em;
    width: 100%;
    gap: 1em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.recipe, .expense{
    width: 100%;
    text-align: center;
}
.recipe{
    color: var(--clr-recipe);
    border-right: solid 2px rgba(0, 0, 0, 0.3);
}
.expense{
    color: var(--clr-expense);
}


/* fieldset */
.transaction-add{
    border: none;
    font-size: 1.15rem;
}


/* toggle btns */
.sidebar-toggle{
    z-index: 1;
    position: absolute;
    top: 4.5rem;
    right: 3rem;
}

.sidebar-toggle i{
    color: var(--clr-sidebar);
}
.remove-data{
    z-index: 1;
    position: absolute;
    bottom: 2.5rem;
    right: 3rem;
}
.remove-data i{
    color: white;
}
.remove-transaction{
    color: #A4161A;
}
#closeBtn{
    color: #FFf;
}


/* submit btn */
.btn-outline{
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    background: transparent;
    border: 2px solid var(--clr-btn);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-outline:hover{
    transition: all 0.5s ease;
    letter-spacing: 4px;
    color: white;
    background: var(--clr-btn);
}