@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}
main{
    min-height: 100vh;
    background-color: aqua;
}
.grid{
    display: grid;
    grid-template-columns: 0 3fr;
    grid-template-areas: "aside main";
}
.grid-test{
    grid-template-columns: 1fr 3fr;
}
.sidebar{
    overflow: hidden;
    gap: 2em;
    padding: 1em;
    grid-area: "aside";

    transform: translate(-100%);
    /* transition: all 0.5s ease-out; */
    background-color: lightsalmon;
}
.show-sidebar{
    transform: translate(0);
    transition: all 0.5s ease-in-out;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: "main";
    background-color: lightseagreen;
}

.sidebar-toggle{
    position: absolute;
    top: 1em;
    right: 2em;
}

.transaction{
    padding: 1em;
    border-radius: 5px;
    background-color: #FFf;
    max-width: 100%;
}

.transaction > p {
    width: 40%;
    text-align: center;
}

.hero{
    justify-content: space-evenly;
    align-items: center;
    min-height: 100%;
    max-width: 100%;
    width: 30%;
    padding: 1em;
    background-color: violet;
}
.show-balance, .form-control{
    width: 80%;
}
.show-balance{
    gap: 1em;
    padding: 1em;
    background-color: lightslategrey;
}
.card{
    position: relative;
    padding: 1em;
    width: 100%;
    gap: 1em;
    align-self: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    
    background-color: #FFf;
}
.recipe, .expense{
    width: 100%;
    text-align: center;
}
.recipe{
    border-right: solid 2px rgba(0, 0, 0, 0.3);
}

.form-control{
    padding: 1em;
    gap: 1em;
    background-color: white;
}
.transaction-add{
    border: none;
}

.btn-outline{
    border: solid 2px black;
    background: transparent;
}