.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.mt{
    margin-top: 1em;
}

.btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}
.btn-hover:hover{
    transition: all 0.3s ease;
    transform: scale(1.5);
}
.btn-submit{
    display: inline-block;
    cursor: pointer;
    font-size: 0.95rem;
    padding: 0.75em 0em;
    max-width: 30rem;
    min-width: 10rem;
}

.positive{
    color: hsl(120, 100%, 40%);
    font-weight: bold;
}
.negative{
    color: hsl(0, 70%, 50%);
    font-weight: bold;
}

.transaction-input{
    font-size: 0.85rem;
    width: 100%;
    margin-top: 0.75rem;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.transaction-input:focus{
    outline: none;
    transition: all 0.5s ease-out;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}