.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}
.positive{
    color: hsl(120, 100%, 40%);
    font-weight: bold;
}
.negative{
    color: hsl(0, 70%, 50%);
    font-weight: bold;
}